<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" class='icon-feature-section'>
  	{%- assign blocks_size = section.blocks | size-%}
  	<div class='icon-feature-blocks {% if  blocks_size > 4 %}large{% endif %}'>
      	{%- assign n = 0 -%}
      	<div class='left-features'>
		{%- for block in section.blocks -%}
          {%- assign m = n | modulo: 2 -%}
          {% if m == 0%}
  		  <div class='icon-feature-block'>
            <img src={{ block.settings.feature_icon | img_url: '100x' }}>
            <div>
              {{ block.settings.feature_text }}
            </div>
	      </div>
          {% endif %}
      	  {%- assign n = n | plus: 1 -%}
		{%- endfor -%}
     	</div>
      
      	{%- assign n = 0 -%}
      	<div class='right-features'>
		{%- for block in section.blocks -%}
          {%- assign m = n | minus: 1 | modulo: 2 -%}
          {% if m == 0%}
  		  <div class='icon-feature-block'>
            <img src={{ block.settings.feature_icon | img_url: '100x' }}>
            <div>
              {{ block.settings.feature_text }}
            </div>
	      </div>
          {% endif %}
      	  {%- assign n = n | plus: 1 -%}
		{%- endfor -%}
     	</div>
	</div>
</section>

{% schema %}
{
  "name": "Feature List Section",
  "class": "shopify-section--feature",
  "max_blocks": 8,
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Title",
      "default": "Key Benefits"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "feature_text",
          "label": "Feature Text"
        },
		{
          "type": "image_picker",
          "id": "feature_icon",
          "label": "Feature Icon"
        }
	  ]
    }
  ],
  "presets": [
    {
      "category": "Section",
      "name": "Features List",
      "settings": {},
      "blocks": [
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}